# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and runtime files
logs/
*.log

# Jupyter
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Environments
*.env
Pipfile.lock


*.pyc

firebase_config.json
